body{
    background-color: black;

}
.navbar h4{
    color: whitesmoke
}
.skills_table li{
    list-style: none;
}
.outerbox{
    background-color: black;
    height: 30rem;
    display: flex;
     
}
.icon{
    width: 50px;
    border-radius: 50%;
}
#home{
    color:seashell;
    padding-top: 3rem;
    position: absolute;
    margin-left: 10rem;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 10rem;
      width: 100%;
    }

}
.outerbox img{
    width: 200px;
    height: 200px;
    margin-top: 200px
}
.outerbox p{
    margin-top: 250px;
    color:seashell;
    margin-left: 10px;
}

.outerbox a{
    color: aliceblue;
}


.skills_box{
    background-color: seashell;
    width: 510px;
    height: 400px;
    margin-left: 20rem;
    margin-bottom: 0px;
    
    border-radius: 10%;

}
.project{
    background-color: black;
    color: seashell;
}

.lt{
    position: absolute;
}
ul.skills_table{
    margin-top: 100px;
}
.resumeBox{
    margin-left: 25rem;
    margin-bottom: 100px;
}
.title{
position: absolute;
}