
body{
    
    background-image: url("../img/blessing-daniel-635601-unsplash.jpg");
    background-color: #cccccc;
}
.skills_box{
    margin-top: 200px;
    margin-left: 50px;
}
.navbar h4{
    margin-left: 50px;
}
.outerbox{
    flex-direction: column;
}
.outerbox img{
    width: 200px;
    border-radius: 10%;
    margin-left: 50px;
    margin-top: 200px;
    margin-left: 150px;
}
.navbar h4{
    color: whitesmoke
}
.skills_table li{
    list-style: none;
}
.outerbox{
    /* background-color: black*/
    height: 30rem;
    display: flex;
     
}
.icon{
    width: 50px;
    border-radius: 50%;
}
#home{
    color:seashell;
    padding-top: 3rem;
    position: absolute;
    margin-left: 10rem;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 10rem;
      width: 100%;
    }

}
.about_me{
    display: flex;
    flex-direction: column;
    color:seashell;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 100px;
    top: 2000px;
}
.about_me img{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 200px;
}
.outerbox p{
    margin-top: 100px;
    color:seashell;
    margin-left: 10px;
    width: 300px;
    margin-left: 150px;
}

.outerbox a{
    color: aliceblue;
}


.skills_box{
    background-color: seashell;
    width: 510px;
    height: 400px;
   
    margin-bottom: 0px;
    
    border-radius: 10%;

}
.project{
    
    margin-top: 100px;
    margin-bottom: 100px;
}

.lt{
    position: absolute;
}
ul.skills_table{
    margin-top: 10px;
}
.resumeBox{
    margin-left: 15rem;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-top: 300px;
    margin-left: 150px;
}
.title{
position: absolute;
}
.innerBox{
display: flex;
flex-direction: column
}
.innerBox h1{
    margin-left: 150px;
} 
#about_me{
    position: absolute;
    padding-right: 100px;
    top: 2000px;

}
.contact{
    margin-left: 250px;
}
.contact ul li{
    
    list-style: none;
    color:seashell;
  
}
#contact{
    margin-bottom: 50px;
}
.navcustom{
    margin-left: 100px;
}
#projects{
    margin-bottom: 50px;
}